<div class="col-sm-8 blog-main">
<% if logged_in?(:site_admin) %>
     <%= render @blogs.newest_first %>
<% else %>
	<%= render @blogs.published.newest_first %>
<% end %>

     <%= paginate @blogs %>

</div>




