<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> Developer in training.  one day I will master this thing.</p>
  </div>


  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/lgrandall"><%= fa_icon "github" %></a> </li>
      <li><a href="https://www.facebook.com/louis.randall.3"><%= fa_icon "facebook" %></a> </li>
      <li><a href="#"><%= fa_icon "twitter" %></a> </li>
      <li><a href="https://www.instagram.com/louis.randall.3/?hl=en"><%= fa_icon "instagram" %></a> </li>
    </ol>
  </div>

</div>