<div class="inner cover">
   <h1 class="cover-heading">Welcome.</h1>
   <p class="lead">Learning to find fullfilment in the process is the key to inspiration, and fullfilment.  Coding is a bit like art, in that it should be enjoed twice.  The crafter finds pleasure in the crafting, and the viewer in the viewing.  I aspire to enjoy my code fully.</p>
   <p class="lead">
    	<%= link_to "About Me",  about_path, class: "btn btn-lg btn-secondary" %>
   </p>
 </div>



  